.assign-container {
  max-width: calc(100vw - 296px);
  // max-width: 984px;
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 12px;

  a {
    color: $dark;
    &:hover {
      color: $primary;
    }
  }
}

.list-group-l-c {
  width: 30%;
  a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.content-title-c {
  p {
    margin: 0;
    font-size: 12px;
    margin-bottom: 4px;
  }
  time {
    font-size: 12px;
  }
}
.content-c {
  h4 {
    font-size: 16px;
    margin: 0;
  }
  h2 {
    color: $gray-600;
    font-size: 12px;
    margin: 0;
    align-self: flex-end;
  }
}

.list-group-r-c {
  // min-width: 584px;
  width: 69%;
  time {
    line-height: 1;
    font-size: 12px;

    color: $gray-600;
  }
}

.question-title {
  color: $gray-900;
  h4 {
    font-size: 12px;
  }
  p {
    margin: 0;
  }
}

.code {
  font-family: "Roboto Mono";
  background-color: $gray-100;
  color: $primary;
}

.arrow {
  width: 50%;
}

.footer-item {
  padding-bottom: 32px;
}

// .btn-text-align-c {
//   text-align: center;
//   display: block;
//   border: 1px solid $gray-400;
// }
