.sidebar {
  background-color: #f8f9fa;
  width: 296px;
  // min-width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .logo {
    // padding: 32px;
    // padding-bottom: 40px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
  }
}
// .sidebar-container {
//   width: 100%;

// }

.bar-section {
  a {
    color: $dark;
    &:hover {
      color: $primary;
    }
  }
}
.person {
  padding-left: 32px;
  padding-bottom: 32px;
}
