.sidebar {
  background-color: #f8f9fa;
  width: 296px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .logo {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
  }
}

.bar-section {
  a {
    color: $dark;
    &:hover {
      color: $primary;
    }
  }
}
.person {
  padding-left: 32px;
  padding-bottom: 32px;
}
