// custom size
.w40-c {
  min-width: 40px;
}

.h40-c {
  height: 40px;
}

.br-4 {
  border-left: 4px solid $gray-100;
  &:hover {
    border-left: 4px solid $primary;
  }
}

.bb-0 {
  border-bottom: 0px solid transparent;
}

.bb-1 {
  border-bottom: 1px solid $gray-400;
}

.mb-6 {
  margin-bottom: 6px;
}

.mr-23 {
  margin-right: 23px;
}

.pl-9 {
  padding-left: 9px;
}

.pl-50 {
  padding-left: 50px;
}

.pr-202 {
  padding-right: 30%;
}

.lh-33 {
  line-height: 33px;
}

.fz-14-c {
  font-size: 14px;
}

.ff-lato {
  font-family: "Lato";
}

.ff-romonono {
  font-family: "Roboto Mono";
}

.vertical-align {
  vertical-align: bottom;
}
